# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment/secrets
.env

# Raw dataset
data/raw/

# Generated models
models/*.pkl
models/*.joblib

# OS files
.DS_Store
Thumbs.db